<h1>Cable Railing Photo Gallery</h1>
<p> Take a look at these amazing views and aesthetic Cable railing projects achieved with <a
        href="/collections/cable-railing">HAAS Stainless’s cable railing systems.</a> <br>Browse our project gallery and
    click the More Details link to read more about the project, products used, featured project installer, more images
    and blog post related to the project. <br>Submit your own project photos by <a href="#send-photos" class="scrollLink">clicking
        here.</a> </p>
<div id="myBtnContainer" style="margin: 20px;"> <button class="btnGallery active" onclick="filterSelection('all')"> Show
        all </button> <button class="btnGallery" onclick="filterSelection('indoor')"> Indoor Cable Railing </button>
    <button class="btnGallery" onclick="filterSelection('outdoor')"> Outdoor Cable Railing </button> <button
        class="btnGallery" onclick="filterSelection('revo')"> REVO System </button> <button class="btnGallery"
        onclick="filterSelection('axis')"> AXIS System </button>
</div>
<div class="row">
    <div class="col-md-4 revo outdoor">
        <a href="/pages/project-gallery/Bucktown-Boardwalk">
            <img class="image--fade-in lazyloaded"
                data-src="//e-rigging.com/cdn/shop/products/Alex_Cierley_250x.jpg?v=1645821152"
                alt="Transforming Bucktown's Boardwalk" title="Transforming Bucktown's Boardwalk"
                src="https://cdn.shopify.com/s/files/1/0553/8614/4841/files/bucktown-boardwalk_d74be8ea-b8a8-46ec-b303-299b97ac3433.jpg?v=1719434780" />

            <p class="offer-item__title heading h4"> Transforming Bucktown's Boardwalk </p>
        </a>
    </div>
    <div class="col-md-4 revo outdoor">
        <a href="/pages/project-gallery/the-mechanic">
            <img class="image--fade-in lazyloaded"
                data-src="//e-rigging.com/cdn/shop/products/Advanced-millworks-inc_250x.png?v=1646260745"
                alt="Cable Railing on set of ‘The Mechanic’" title="Cable Railing on set of ‘The Mechanic’"
                src="https://e-rigging.com/cdn/shop/files//the-mechanic-house_430x.jpg?v=1718818322#" />
            <p class="offer-item__title heading h4"> Cable Railing on set of ‘The Mechanic’ </p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/pages/project-gallery/c4-foundation-project">
            <img class="image--fade-in lazyloaded"
                data-src="//e-rigging.com/cdn/shop/products/Jeff_Dodge_250x.jpg?v=1646260759"
                alt="C4 Foundation Project - A quirk of fate" title="C4 Foundation Project - A quirk of fate"
                src="https://e-rigging.com/cdn/shop/files//the-c4-foundation_430x.jpg?v=1718818340#" />
            <p class="offer-item__title heading h4">C4 Foundation Project - A quirk of fate</p>
        </a>
    </div>
    <!-- <div class="col-md-4 outdoor">                <img           class="image--fade-in lazyloaded"           data-src="//e-rigging.com/cdn/shop/products/Jon_Mathews_250x.jpg?v=1646260784"           alt="quick-and-inexpensive-sun-shade-install"           src="https://e-rigging.com/cdn/shop/files//sun-shade_430x.jpg?v=1718818358#"         />         <div class="offer-item__inner">           <p class="offer-item__title heading h4">             Rig Up Some Shade In Time for Summer           </p>           <div class="offer-item__content rte">             <p>               <a                 href="/pages/project-gallery/rig-up-some-shade-in-time-for-summer"                 >More Details</a               >             </p>           </div>         </div>       </div>     </div> -->
    <div class="col-md-4 indoor axis">
        <a href="/pages/project-gallery/laff-house">
            <img class="image--fade-in lazyloaded" alt="Cable Railing on set of ‘The Mechanic’"
                src="https://e-rigging.com/cdn/shop/files//laff-house_430x.jpg?v=1718818509#" />
            <p class="offer-item__title heading h4">Cable Railing Project at Laff House</p>
        </a>
    </div>
    <div class="col-md-4 outdoor">
        <a href="/pages/project-gallery/cable-rail-deck-transformation">
            <img class="image--fade-in lazyloaded" alt="cable-railing-deck" title
                src="https://e-rigging.com/cdn/shop/files/deck-transformation_600x.jpg?v=1718818712" />
            <p class="offer-item__title heading h4"> Cable Rail Deck Transformation </p>
        </a>
    </div>
    <!-- <div class="col-md-4">                <img           class="image--fade-in lazyloaded"           alt="Lindale-sta"           src="https://e-rigging.com/cdn/shop/files//lindale-star_430x.jpg?v=1718818417#"         />         <div class="offer-item__inner">           <p class="offer-item__title heading h4">             The Legend of the Lindale Star           </p>           <div class="offer-item__content rte">             <p>               <a                 href="/pages/project-gallery/the-legend-of-the-lindale-star"                 >More Details</a               >             </p>           </div>         </div>       </div>     </div> -->
    <div class="col-md-4 outdoor revo">
        <a href="/pages/project-gallery/jims-lakehouse-view-opens-up-using-cable-railing">
            <img class="image--fade-in lazyloaded" alt="Jim’s Lakehouse View Opens Up Using Cable Railing"
                title="Jim’s Lakehouse View Opens Up Using Cable Railing"
                src="https://e-rigging.com/cdn/shop/files/jims-lakehouse_600x.jpg?v=1718825469" />
            <p class="offer-item__title heading h4">Lakehouse Cable Railing Project</p>
        </a>
    </div>
    <div class="col-md-4 outdoor revo">
        <a href="/pages/project-gallery/cable-railing-deck-diy">
            <img class="image--fade-in lazyloaded" alt="Larry's HAAS Cable Railing Deck DIY"
                title="Larry's HAAS Cable Railing Deck DIY"
                src="https://e-rigging.com/cdn/shop/files/larry-cable-railing-deck_600x.jpg?v=1718825231" />
            <p class="offer-item__title heading h4">Larry's HAAS Cable Railing Deck DIY</p>
        </a>
    </div>
    <div class="col-md-4 outdoor axis">
        <a href="/pages/project-gallery/lake-country-contractors-upgrade-outdoor-living-space">
            <img class="image--fade-in lazyloaded" alt="Lake Country Contractors Upgrade Outdoor Living Space"
                title="Lake Country Contractors Upgrade Outdoor Living Space"
                src="https://e-rigging.com/cdn/shop/files/cable-railing-project_600x.jpg?v=1718826839" />

            <p class="offer-item__title heading h4">Lake Country Contractors Upgrade</p>
        </a>
    </div>
    <div class="col-md-4 outdoor revo">
        <a href="/pages/project-gallery/haas-pro-installers-bring-minimalism-home">
            <img class="image--fade-in lazyloaded" alt="HAAS Pro Installers Bring Minimalism Home"
                title="HAAS Pro Installers Bring Minimalism Home"
                src="https://e-rigging.com/cdn/shop/files/cable-railing-project_f3e296bd-c998-4b5e-b633-e951b73bf6c1_600x.jpg?v=1719259587" />
            <p class="offer-item__title heading h4">HAAS Pro Installers Bring Minimalism Home</p>
        </a>
    </div>
    <div class="col-md-4 outdoor axis">
        <a href="/pages/project-gallery/colonial-pa-deck-gets-haas-axis-facelift">
            <img class="image--fade-in lazyloaded" alt="Colonial PA Deck Gets HAAS Axis Facelift"
                title="Colonial PA Deck Gets HAAS Axis Facelift"
                src="https://e-rigging.com/cdn/shop/files/cable-railing-project-gallery_600x.jpg?v=1719260126" />
            <p class="offer-item__title heading h4">Colonial PA Deck Gets HAAS Axis Facelift</p>

        </a>
    </div>
</div>
<div class="row" style="justify-content: center; " class="send-photos">
    <h2 id="send-photos" style="padding-top: 40px; margin-top: -40px; text-align: center;">Send Us Your Photos</h2>
    <div>Have a project you are dying to share with the world? We'd love to see and share your project whether it be a
        cable
        railing project, rigging project, or anything that uses our products. Submit any photos and commentary to join
        the
        E-Rigging Hall of Fame... also known as our social media and blog. Who is keeping score anyways?<br><br>
        <strong>Important Note:</strong> When you submit your photos, we assume you are fine with us sharing them. If
        you
        would like to share them with just our staff, please clarify in the comments. <br><br> You can also submit
        photos by
        emailing <a href="mailto:diy@e-rigging.com">diy@e-rigging.com</a> Be on the lookout for our year end photo
        contest
        email to win cash prizes get on the <a href="#shopify-section-footer">email list here. </a><br><br>
        <div class="jotform">
            <script style="display: block !important;" type="text/javascript"
                src="https://form.jotform.com/jsform/91334846649973"></script>
        </div>
    </div>
</div>
<style>
    .container--flush {
        display: none;
    }

    #uncomplicated-breadcrumbs {
        display: none;
    }

    .col-md-4 {
        display: none;
        margin-bottom: 25px;
    }
    .send-photos{      
        scroll-margin-top: 80px;
    }

    .show {
        display: block;
    }

    .btnGallery:hover {
        background-color: #1e3346;
    }

    .btnGallery {
        background-color: #04192c;
        color: white;
        border-radius: 15px;
        padding: 5px 15px;
        margin: 0 5px;
    }

    .btnGallery:hover {
        background-color: #0e2336;
    }
</style>
<script>   filterSelection("all"); function filterSelection(c) { var x, i; x = document.getElementsByClassName("col-md-4"); if (c == "all") c = ""; for (i = 0; i < x.length; i++) { RemoveClass(x[i], "show"); if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show"); } } function AddClass(element, name) { var i, arr1, arr2; arr1 = element.className.split(" "); arr2 = name.split(" "); for (i = 0; i < arr2.length; i++) { if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; } } } function RemoveClass(element, name) { var i, arr1, arr2; arr1 = element.className.split(" "); arr2 = name.split(" "); for (i = 0; i < arr2.length; i++) { while (arr1.indexOf(arr2[i]) > -1) { arr1.splice(arr1.indexOf(arr2[i]), 1); } } element.className = arr1.join(" "); }  </script>

